<link rel="stylesheet" href="/css/recipe-card.css">

<div class="recipe-card">
  <h2><b>{{name}}</b></h2>

  <div class="ingredients">
    <h3>Ingredients:</h3>
    <p>{{ingredients}}</p>
  </div>

  <div class="instructions">
    <h3>Instructions:</h3>
    <p>{{instructions}}</p>
  </div>
</div>